@media (max-width:768px) {
    nav ul {
        display: none;
        position: relative;
        z-index: 3;
        transition: 0.4s;
    }

    nav ul li {
        margin-top: 1.2rem;
        cursor: pointer;
        color: #fff;
    }

    nav ul li a {
        color: #fff;
    }

    nav span {
        display: block;
    }

    nav {
        padding: 0 1rem;
    }

    .main-content h1 {
        font-size: 2.5rem;
    }

    .main-content p {
        margin-top: 0.5rem;
    }


}


@media (max-width: 992px) {
    .card {
        width: 45%;
        /* tablet */
    }
}

@media (max-width: 576px) {
    .card {
        width: 90%;
        /* mobile */
    }

    .about p {
        font-size: 1.5rem;
    }
    .about h2{
        font-size: 3rem;
    }
    .about button{
        padding: 0.5rem;
    }
}

@media (max-width: 900px) {
    .footer-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 500px) {
    .footer-container {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .social-links {
        justify-content: center;
    }
}