@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

header {
    width: 100%;
    min-height: 100vh;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    height: 4rem;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.900);
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li a {
    padding: 0 30px;
    cursor: pointer;
    color: #fff;
    text-decoration: none;
    position: relative;
    font-family: "jost", sans-serif;
    font-weight: 700;
    font-size: 1.2rem;
}

nav ul li a::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    bottom: -0.5rem;
    border-bottom: 2px solid white;
    transition: 0.3s ease;
}

nav ul li a:hover::after {
    width: 100%;
}

.logo {
    font-weight: 900;
    font-size: 2rem;
    font-family: "jost", sans-serif;
    color: #fff;
    cursor: pointer;

}

nav span {
    display: none;
    font-size: 1.5rem;
    color: #fff;
    cursor: pointer;
}


.show-ul {
    display: block;
    background: rgba(0, 0, 0, 0.600);
    color: #fff;
    position: absolute;
    top: 4rem;
    right: 0px;
    padding: 20px 10px;
    width: 100vw;
    text-align: center;
    height: calc(100vh - 5rem);
    transition: 0.3s ease;
    overflow-y: auto;
}

.main-container {
    height: calc(100vh - 4rem);
    width: 100%;
    background-image: url(assets/bg-hero.avif);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.over-lap {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.850);
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-content {
    width: 80%;
    /* background-color: red; */
}

.main-content h1 {
    color: #fff;
    font-family: "jost", sans-serif;
    text-align: center;
    font-size: 3rem;
}

.main-content h1 span {
    color: red;
}

.main-container p {
    color: white;
    text-align: center;
    font-family: "jost", sans-serif;
    letter-spacing: 1px;

}

.main-container .btn-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.main-container .btn-container a {
    padding: 0.5rem 2rem;
    font-size: 1rem;
    font-weight: 900;
    font-family: "jost", sans-serif;
    text-align: center;
    cursor: pointer;
    border: none;
    background-color: red;
    color: white;
    border-radius: 0.3rem;
    transition: 0.3s;
    text-decoration: none;
    box-shadow: 0 0 0.5rem 2px red;
}

.main-container .btn-container a:hover {
    background-color: red;
    color: #fff;
    box-shadow: 0 0 2rem 10px red;
}


/* prodcut section starting here */
.products-section {
    width: 100%;
    min-height: 100vh;
    background-color: beige;
}


.products-section .product-heading {
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.products-section .product-heading h2 {
    text-align: center;
    font-size: 3rem;
    font-family: "jost", sans-serif;
    cursor: pointer;


}

.products-section .card-container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
    padding-bottom: 2rem;
}

.card {
    width: 25%;
    height: 27rem;
    cursor: pointer;
    background-image: url(assets/card-bg.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 1rem;
    margin-top: 2rem;
    transition: 0.5s;
}

.card:hover {
    box-shadow: 0 0 1.2rem 0.7rem red;
    transform: translateY(-1rem);
}

.card .image-container {
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.image-container img {
    width: 80%;
    height: 100%;
}

.card .text-container {
    width: 100%;
    height: 50%;
    padding: 0 0.3rem;
}

.card .text-container h4 {
    text-align: center;
    font-family: "jost", sans-serif;
    font-weight: 900;
    color: #fff;
}

.card .text-container p {
    text-align: center;
    font-family: "jost", sans-serif;
    font-size: 1.1rem;
    font-weight: 400;
    margin-top: 0.5rem;
    color: #fff;
}

.card .text-container span {
    display: block;
    text-align: center;
    color: red;
    font-family: "jost", sans-serif;
    font-weight: 700;
    margin-top: 0.5rem;
}

.card .text-container .btn-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.card .text-container .btn-container button {
    padding: 0.5rem 2rem;
    font-family: "jost", sans-serif;
    font-weight: 800;
    border-radius: 0.5rem;
    border: none;
    background-color: red;
    color: #fff;
    cursor: pointer;
    margin-top: 0.5rem;
    transition: 0.3s;
}

.card .text-container .btn-container button:hover {
    box-shadow: 0 0 10px 3px red;
}

.over-card {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.900);
    border-radius: 1rem;
}

#set {
    width: 100%;
    height: 100%;
}



.about-section {
    width: 100%;
    min-height: 100vh;
}


.about-section .about-container {
    height: 100vh;
    width: 100%;
    background-image: url(assets/about-img.jpeg);
    background-position: center;
    background-size: cover;
}

.over-rated {
    background-color: rgba(0, 0, 0, 0.900);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.about {
    width: 90%;
    height: 100%;
    text-align: center;
    padding: 4rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

.about h2 {
    color: red;
    font-size: 4rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.about p {
    color: white;
    font-size: 2rem;
}

.about button {
    padding: 0.4rem 1rem;
    font-size: 1.5rem;
    border: none;
    border-radius: 0.3rem;
    font-family: "jost", sans-serif;
    font-weight: 900;
    margin-top: 1rem;
    cursor: pointer;
    background-color: red;
    color: #fff;
    transition: 0.5s ease-in-out;
    box-shadow: 0 0 0.2rem 0.1rem red;
}

.about button:hover {
    box-shadow: 0 0 1.2rem 0.5rem red;
}







.footer {
    background: #111;
    color: #ddd;
    padding: 60px 20px 20px;
}

.footer-container {
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.footer-box h3 {
    color: red;
    margin-bottom: 15px;
    font-size: 20px;
}

.footer-box p {
    font-size: 14px;
    line-height: 1.6;
}

.footer-box ul {
    list-style: none;
}

.footer-box ul li {
    margin-bottom: 10px;
}

.footer-box ul li a {
    color: #ddd;
    text-decoration: none;
    font-size: 14px;
    transition: 0.3s;
}

.footer-box ul li a:hover {
    color: red;
}

.footer-box i {
    color: red;
    margin-right: 8px;
    background-color: none;
}



.social-links i {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    background: #222;
    color: #fff;
    border-radius: 50%;
    margin-right: 10px;
    transition: 0.2s;
    text-decoration: none;
}

.social-links i:hover {
    background-color: red;
    color: black;
    cursor: pointer;
    box-shadow: 0 0 1rem .2rem red;
}


